@import "destyle.css";
$white: #ffffff;
$dark: #000000;
$placeholderColor: rgba(0, 0, 0, .5);

*{
  padding: 0;
  margin: 0;
  color: $white;
  line-height: 120%;
  &::selection{
    background-color: #ef0505;
  }
}
img{
  &::selection{
    background-color: transparent;
  }
}
a{
  text-decoration: none;
  display: flex;
}
body{
  background-color: $dark;
  min-height: 100vh;
}
input, textarea, .selectSectorBtn{
  width: 320px;
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid #000000;
  color: $dark;
  text-align: left;
  font-weight: 500;
  background-color: $white;
  outline: none;
  box-shadow: 0 0 15px rgba(255, 255, 255, .5);
  transition: all .35s linear;
  &:focus, &:hover{
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    outline: none;
  }
}
label{
  cursor: text;
  position: absolute;
  width: max-content;
  top: 14px;
  left: 11px;
  display: flex;
  color: $placeholderColor;
  font-size: 14px;
  font-weight: 400;
  transition: all .5s ease-in-out;
  &.typed, &.toTop{
    top: -22px;
    color: $white;
  }
}
.container{
  width: min(100% - 15px, 1280px);
  margin-inline: auto;
}
.button{
  padding: 0 12px;
  height: 36px;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  font-weight: 500;
  outline: none;
  border-radius: 6px;
  background-color: #000000;
  border: 1px solid #333333;
  transition: all .3s ease-in-out;
}
.button:hover{
  box-shadow: 0 0 10px #ffffff;
  background-color: rgba(236, 227, 227, .1);
  border: 1px solid rgba(255, 255, 255, 1);
}
.bgWrap{
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}
.bgWrap img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  opacity: .2;
  filter: blur(5px);
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

@keyframes blinking {
  0%{
    border: 1px solid rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  50%{
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);

  }
  100%{
    border: 1px solid rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  }
}