@import "general";

/* <------------> */
/* HEADER */
/* <------------> */

header{
  position: sticky;
  top: 0;
  border-bottom: 1px solid rgb(31, 31, 31);
  box-shadow: rgb(51, 51, 51) 0px -1px 0px 0px inset;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
  backdrop-filter: saturate(1.8) blur(5px);
  -webkit-backdrop-filter: saturate(1.8) blur(5px);
  padding: 15px 0;
  .logoBox{
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    .logo{
      border-radius: 50%;
    }
  }
  .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* <------------> */
/* //HEADER */
/* <------------> */

/* <------------> */
/* HOME */
/* <------------> */

.mainBanner, .successPage{
  height: calc(100vh - 55px);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .textBox{
    h1{
      font-size: 54px;
      font-weight: 800;
      max-width: 480px;
      margin-bottom: 30px;
      text-align: left;
      line-height: 110%;
    }
    p{
      line-height: 140%;
      margin-bottom: 30px;
      font-size: 24px;
      max-width: 480px;
      font-weight: 500;
    }
  }
  img{
    width: 50%;
    height: auto;
  }
  .buttonsBox{
    display: flex;
    &:hover{
      .button.join{
        border-left: rgba(255, 255, 255, 1) 1px solid;
      }
    }
    .button{
      border-radius: 0 6px 6px 0;
      &.join{
        border-left: rgba(255, 255, 255, 0) 1px solid;
      }
      &.explore{
        border-right: rgba(255, 255, 255, 0) 1px solid;
        background-color: $white;
        border-radius: 6px 0 0 6px;
        color: $dark;
        &:hover{
          background-color: $dark;
          color: $white;
        }
      }
    }
  }
}

/* <------------> */
/* // HOME */
/* <------------> */

/* <------------> */
/* PROJECTS LIST */
/* <------------> */

.projects{
  padding-bottom: 15px;
  .searchbarBox{
    margin: auto auto 15px auto;
    text-align: left;
    width: 320px;
    position: relative;
    &:focus-within{
      label{
        top: -22px;
        color: $white;
      }
    }
    label{
      cursor: text;
    }
  }
  .filtersBox{
    border-top: 1px solid rgb(55, 55, 55);
    border-bottom: 1px solid rgb(55, 55, 55);
    margin-bottom: 15px;
    .filters{
      padding: 15px 0 ;
      justify-content: space-between;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: visible;
      display: flex;
      gap: 30px;
      scrollbar-width: thin;
      scrollbar-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 0.45);
      &::-webkit-scrollbar {
        height: 1px;
      }
      &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.45);
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 1);
      }
      .button{
        flex: 0 1 100%;
        background-color: rgb(19, 19, 19);
        &:hover{
          background-color: transparent;
        }
        &.active{
          animation: blinking 1.5s linear infinite;
        }
      }
    }
  }
  .projectsBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
    .item{
      border: 1px solid rgba(255, 255, 255, 0);
      border-right: 1px solid rgb(31, 31, 31);
      border-bottom: 1px solid rgb(31, 31, 31);
      box-shadow: 0 0 15px rgb(51, 51, 51);
      background-color: rgb(19, 19, 19);
      display: flex;
      gap: 15px;
      border-radius: 12px;
      padding: 15px;
      text-align: left;
      flex: 1 1 320px;
      max-width: 450px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      &:hover{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        img{
          border: 1px solid rgba(255, 255, 255, 0.75);
          box-shadow: 0 0 20px rgba(255, 255, 255, .8);
        }
      }
      .bio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        .nameSector{
          display: flex;
          flex-direction: column;
        }
      }
      img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all .3s ease-in-out;
      }
      span{
        font-size: 20px;
        font-weight: 500;
      }
      small{
        font-size: 14px;
        font-weight: 400;
      }
    }
  }
  .button{
    width: 160px;
    margin: auto;
    padding: 10px;
    &.blinking{
      animation: blinking 1.5s linear infinite;
    }
  }
  @include max-screen(700px){
    .searchbarBox{
      max-width: 320px;
      width: 100%;
      input{
        width: 100%;
      }
    }
    .projectsBox .item{
      max-width: 100%;
    }
  }
}

/* <------------> */
/* //PROJECTS LIST */
/* <------------> */

/* <------------> */
/* PROJECT PAGE */
/* <------------> */

.projectPage{
  padding: 50px 0;
  min-height: calc(100vh - 118px);
  .projectBox{
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 1400px;
    margin: auto auto 30px;
    &.loading{
      filter: blur(8px);
      -webkit-filter: blur(8px);
      -ms-filter: blur(8px);
    }
    .projectLogo{
      border-radius: 50%;
      &.loading{
        max-width: 200px;
        width: 100%;
        height: 200px;
        opacity: .5;
        background: $white;
      }
    }
    .projectInfo{
      padding-right: 30px;
      border-right: 1px solid rgba(255, 255, 255, 0.45);
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 15px;
      h1{
        text-align: left;
        font-size: 50px;
      }
      p{
        font-size: 20px;
      }
      .socials{
        display: flex;
        gap: 30px;
        &.loading{
          opacity: .5;
          span{
            height: 30px;
            width: 30px;
            background-color: $white;
            border-radius: 50%;
          }
        }
      }
    }
    .projectDesc{
      text-align: left;
      font-size: 20px;
      line-height: 130%;
    }
  }
  .button.back{
    max-width: max-content;
    margin: auto;
    text-align: center;
    &.loading{
      animation: blinking 1s ease-in-out infinite;
    }
  }
  @include max-screen(1100px){
    .projectBox{
      flex-wrap: wrap;
      .projectInfo{
        border-right: none;
        padding-right: 0;
      }
      .projectDesc{
        border-top: 1px solid rgba(255, 255, 255, 0.45);
        padding-top: 30px;
      }
    }
  }
  @include max-screen(700px){
    .projectBox{
      justify-content: center;
      .projectInfo{
        align-items: center;
        h1{
          text-align: center;
        }
      }
    }
  }
}

/* <------------> */
/* //PROJECT PAGE */
/* <------------> */

/* <------------> */
/* //FOOTER */
/* <------------> */

footer{
  box-shadow: rgb(51, 51, 51) 0 1px 0 0 inset;
  border-top: 1px solid rgb(31, 31, 31);
  padding: 10px 0;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      a{
        display: inline;
        background: -webkit-linear-gradient(65deg , #a20e0e, #ef0505);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .gitLogo{
      width: 30px;
      height: 30px;
      opacity: .5;
      transition: all .3s ease-in-out;
      &:hover{
        opacity: 1;
      }
    }
  }
}

/* <------------> */
/* //FOOTER */
/* <------------> */